.model-form{
    z-index: 1;
    position: fixed;
    top:0;
    right: 0;
    backdrop-filter: blur(10px);
    overflow: auto;
    padding-top: 10px;
    transition: all 0.4s ease-in-out;
    
    & .model-content{
        position: absolute;
        right: 25px;
        top:0;
        font-size: 35px;
        font-weight: bold;
    }
    /* close button */
    & .close{

        &:hover,:focus{
            color: red;
            cursor: pointer;
        }
    }
}
